


<li class="active">
    <a href="@Url.Action("index","Home")"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
</li>

@*<li><a href="@Url.Action("index","student")"><span class="fa fa-heart"></span> New Student</a></li>*@
<li><a href="@Url.Action("all","upload")"><span class="fa fa-cogs"></span> Lectures</a></li>

